<% include ./partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>
                 Welcome to YelpCamp!
            </h1>
            <div    style="width: 30%; margin: 25px auto;"
                    class="list-group">
                
                    <li class="list-group-item">
                         <a href="/campgrounds">View all Campgrounds</a>
                    </li>
                    
                    <li class="list-group-item">
                         <a href="/seed">Create a few Campgrounds</a>
                    </li>  
                    
                    <li class="list-group-item">
                         <a href="/seedComm">Insert Comments into Campgrounds</a>
                    </li>
                    
                    <li class="list-group-item">
                         <a href="/report">Show report on Campgrounds data</a>
                    </li> 
            </div>
         </div>
    </header>
</div>

<% include ./partials/footer %>
