.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding:0;
}

.thumbnail .caption-full {
    padding: 9px;
}

h4 {
    font-size: 14;
}

li {
    font-size: 16;
}

li a { 
    color: black;
}

li:hover {
    border-bottom: 2px solid black;
    }

#rline  {
    font-size: 12px;
}

#rline:nth-child(even) {
    background-color: #F3F1F1;
        }